[submodule "costacoders.es"]
	path = costacoders.es
	url = git@github.com:keskival/costacoders.es.git
[submodule "king-algorithm-manifesto"]
	path = king-algorithm-manifesto
	url = git@github.com:keskival/king-algorithm-manifesto.git
[submodule "FAS-Simulator"]
	path = FAS-Simulator
	url = git@github.com:keskival/FAS-Simulator.git
[submodule "embodied-emulated-personas"]
	path = embodied-emulated-personas
	url = git@github.com:keskival/embodied-emulated-personas.git
[submodule "sleeping_machines"]
	path = sleeping_machines
	url = git@github.com:keskival/sleeping_machines.git
[submodule "cv"]
	path = cv
	url = git@github.com:keskival/cv.git
[submodule "ai_enabled_transparency_of_governance_and_power"]
	path = ai_enabled_transparency_of_governance_and_power
	url = git@github.com:keskival/ai_enabled_transparency_of_governance_and_power.git
[submodule "sukupuu"]
	path = sukupuu
	url = git@github.com:keskival/sukupuu.git
[submodule "manifesto_for_free_movement"]
	path = manifesto_for_free_movement
	url = git@github.com:keskival/manifesto_for_free_movement.git
